astroid==2.2.5
certifi==2020.6.20
cycler==0.10.0
isort==4.3.20
kiwisolver==1.2.0
lazy-object-proxy==1.4.1
matplotlib==3.1.3
mccabe==0.6.1
numpy==1.22.0
pandas==1.0.3
patsy==0.5.1
pylint==2.3.1
pyparsing==2.4.7
PySimpleGUI==4.22.0
python-dateutil==2.8.1
pytz==2020.1
scipy==1.4.1
six==1.15.0
statsmodels==0.11.1
tqdm==4.42.1
typed-ast==1.3.5
wincertstore==0.2
wrapt==1.11.1
XlsxWriter==1.2.9
