altgraph==0.17
anaconda-client==1.7.2
anaconda-navigator==1.9.12
appdirs==1.4.3
arabic-reshaper==2.0.15
asn1crypto==1.3.0
astroid==2.2.5
astunparse==1.6.2
attrs==19.3.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
bleach==3.1.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.1
clyent==1.2.2
colorama==0.4.3
conda==4.8.3
conda-build==3.18.11
conda-package-handling==1.6.0
conda-verify==3.4.2
configobj==5.0.6
configparser==5.0.0
cryptography==2.8
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dukpy==0.2.2
entrypoints==0.3
esprima==4.0.1
et-xmlfile==1.0.1
filelock==3.0.12
freetype-py==2.1.0.post1
future==0.18.2
gevent==20.5.2
gitdb==4.0.5
GitPython==3.1.3
glfw==1.11.2
glob2==0.7
greenlet==0.4.15
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.2
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.20
javascripthon==0.11
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
json-tricks==3.15.2
json5==0.9.4
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
jupyterlab==1.2.6
jupyterlab-server==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
libarchive-c==2.8
macholib==1.11
macropy3==1.1.0b2
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==4.0.2
moviepy==1.0.1
msgpack==1.0.0
msgpack-numpy==0.4.6.post0
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numexpr==2.7.1
numpy==1.18.1
olefile==0.46
openpyxl==3.0.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pathlib2==2.3.5
patsy==0.5.1
PeakUtils==1.3.3
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.0.0
pkginfo==1.5.0.1
proglog==0.1.9
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==3.0.4
psutil==5.7.0
PsychoPy==2020.1.2
psychtoolbox==3.0.16
pycosat==0.6.3
pycparser==2.20
pycryptodome==3.8.2
pygame==1.9.6
pyglet==1.5.5
Pygments==2.6.1
PyInstaller==3.6
pylint==2.3.1
pylsl==1.13.1
pyo==1.0.1
PyOpenGL==3.1.5
pyOpenSSL==19.1.0
pyosf==1.0.5
pyparsing==2.4.6
Pypubsub==4.0.3
pyqmix==2019.1
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
pyserial==3.4
PySimpleGUI==4.22.0
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.1
python-gitlab==2.2.0
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
pyWinhook==1.6.2
pywinpty==0.5.7
pyxdf==1.16.2
PyYAML==5.3.1
pyzmq==18.1.1
QtPy==1.9.0
questplus==2019.4
requests==2.23.0
ruamel-yaml==0.15.87
ruamel.yaml.clib==0.2.0
scipy==1.4.1
Send2Trash==1.5.0
six==1.14.0
smmap==3.0.4
sounddevice==0.3.12
SoundFile==0.10.2
soupsieve==2.0
statsmodels==0.11.1
tables==3.6.1
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.42.1
traitlets==4.3.3
typed-ast==1.3.5
urllib3==1.25.8
wcwidth==0.1.9
webassets==2.0
webencodings==0.5.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.1
wxPython==4.0.7.post2
xarray==0.15.1
xlrd==1.2.0
XlsxWriter==1.2.9
xmltodict==0.12.0
youtube-dl==2020.5.8
zipp==2.2.0
